@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);@charset "UTF-8";

/*
    Cliente: ALTO IMPACTO
    Dev : StudioAQP  www.studioaqp.com
    CELL: 958286668
*/

@font-face {
  font-family: "kestoy";
  src: url("/fonts/KestoySelfie.ttf");
}

@font-face {
  font-family: "brushsci";
  src: url("/fonts/brushsci.ttf");
}

@font-face {
  font-family: "brandon-black";
  src: url("/fonts/Brandon_bld.otf");
}

@font-face {
  font-family: "brandon-regular";
  src: url("/fonts/Brandon_reg.otf");
}

@font-face {
  font-family: "cocogose-black";
  src: url("/fonts/CocogoosePro.ttf");
}

@font-face {
  font-family: "cocogose-italic";
  src: url("/fonts/CocogooseProItalic.ttf");
}

@font-face {
  font-family: "cocogose-light-italic";
  src: url("/fonts/CocogooseProLightItalic.ttf");
}

.brandon-black {
  font-family: "brandon-black";
}

.cocogose-black {
  font-family: "cocogose-black";
}

.text-orange {
  color: #f66000;
}

/* BUTTON OUTLINE */

.button-outline {
  font-family: "cocogose-black";
  padding: 10px 20px 0 20px;
  text-decoration: none;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
  display: inline-grid;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  margin-top: 15px;
}

.button-outline h4 {
  color: white;
  font-size: 13px;
}

.button-outline:hover {
  background-color: #FFF;
  text-decoration: none;
}

.button-outline:hover h4 {
  color: #F66000;
}

.go-cotization-button {
  position: fixed;
  z-index: 80;
  left: 0;
  top: 25%;
  background-color: #f66000;
  border-radius: 0 10px 10px 0;
}

.go-cotization-button a {
  text-decoration: none !important;
}

.go-cotization-button a h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-transform: uppercase;
  color: white;
  font-family: "cocogose-black";
  font-size: 15px;
  padding: 10px 0 10px 0;
}

.logo-plain {
  position: absolute;
  top: 15px;
  left: 45px;
  z-index: 100;
}

.logo-plain img {
  width: 120px;
  height: 74px;
}

.button_container {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 80px;
  width: 70px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background-color: #f66000;
  border-radius: 0 0 0 100%;
  padding: 20px 20px 22px 22px;
  z-index: 200;
}

.button_container.active .top-bar {
  -webkit-transform: translateY(18px) translateX(0) rotate(45deg);
          transform: translateY(18px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle-bar {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom-bar {
  -webkit-transform: translateY(0) translateX(0) rotate(-45deg);
          transform: translateY(0) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  height: 4px;
  width: 100%;
  background-color: #fff;
  display: block;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-bottom: 5px;
  margin-left: 7px;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background-image: url("/img/fondo-5.png");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 100;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay .logo {
  position: fixed;
  top: 45px;
  left: 45px;
}

.overlay nav {
  position: relative;
  height: 80%;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
  font-family: "cocogose-black";
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 375px;
}

.overlay ul li {
  display: block;
  height: 15%;
  min-height: 50px;
  margin-bottom: 8px;
  position: relative;
  opacity: 0;
}

.cotization-link {
  position: fixed;
  right: -8%;
  bottom: 70px;
}

.cotization-link img {
  width: 75%;
}

.cotization-link h4 {
  position: fixed;
  font-family: "cocogose-black";
  font-size: 20px;
  bottom: 95px;
  color: #FFF;
}

.social-links {
  margin-top: 15%;
  display: -webkit-inline-box !important;
  display: inline-flex !important;
}

.social-links a {
  margin-right: 10px;
}

.social-links a img {
  width: 45px;
}

.overlay-menu ul li a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.overlay-menu ul li.active {
  text-shadow: 5px 5px 5px #191919;
}

.overlay-menu ul li.active a:after {
  font-family: FontAwesome;
  content: "\F0E7";
  color: #fff;
  height: 55px;
  margin: 0px 0px 5px 120px;
}

.overlay-menu ul li a:hover {
  text-shadow: 5px 5px 5px #191919;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/*INDEX PAGE*/

.mt--8 {
  margin-top: -18px;
}

.semi-big-title {
  font-size: 50px;
  text-transform: uppercase;
}

.medium-title {
  font-size: 40px;
  text-transform: uppercase;
}

.medium-subtitle {
  font-size: 30px;
  padding-top: 15px;
  text-transform: uppercase;
}

.align-right {
  text-align: right;
}

.welcome-container {
  margin-top: 20%;
}

.push-right {
  width: 53%;
}

.slider-description {
  width: 45%;
}

.orange-image-container {
  margin-top: -15%;
}

.orange-img {
  width: 90%;
  margin-left: 10%;
}

.description-services {
  background-image: url("/img/fondo-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -60px;
}

.hand-card img {
  width: 150%;
  margin-left: -7%;
  margin-top: -14%;
}

.title-description {
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 35px;
}

.title-description h1 {
  font-size: 35px;
}

.title-description h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: -14px;
}

.image-description {
  margin-top: 60px;
  text-align: center;
}

.image-hand-pen img {
  width: 113px;
  height: 218px;
}

.image-foco img {
  width: 120px;
  height: 200px;
  margin-bottom: 18px;
}

.image-brain img {
  width: 120px;
  height: 200px;
  margin-bottom: 18px;
}

.title-description-skills {
  margin-top: 10px;
  width: 100%;
}

.title-description-skills h3 {
  text-transform: uppercase;
  color: white;
  font-family: "cocogose-black";
  font-size: 23px;
  margin-bottom: -1px;
  text-align: right;
}

.title-description-skills h4 {
  text-transform: uppercase;
  color: white;
  font-family: "cocogose-black";
  font-size: 16px;
  text-align: right;
}

.title-description-skills h5 {
  margin-top: 8px;
  text-transform: uppercase;
  color: white;
  font-family: "cocogose-light-italic";
  font-size: 8px;
  text-align: center;
}

.foco-title h3,
.foco-title h4 {
  margin-right: 50px;
}

.team-container {
  margin-right: 90px;
}

.brain-title h3,
.brain-title h4 {
  margin-right: 50px;
}

/* ABOUT PAGE */

.message-about {
  margin-top: 40px;
  background-image: url("/img/fondo-3.png");
  height: 740px;
  background-size: contain;
  background-position-y: bottom;
}

.about-text-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: justify;
  margin-top: 30px;
}

.about-img-container img {
  margin-top: 90px;
  margin-left: 60px;
  width: 380px;
}

.about-title-container {
  width: 100%;
  margin-top: 100px;
}

.about-title-container h1 {
  font-size: 45px;
  font-family: "cocogose-black";
  text-transform: uppercase;
  text-align: right;
}

.about-title-container h2 {
  font-size: 35px;
  font-family: "brandon-black";
  text-transform: uppercase;
  text-align: right;
  margin-top: -12px;
}

.regtangle-type-1 {
  text-align: right;
}

.regtangle-type-1 i {
  color: #799a3b;
  font-size: 80px;
}

/* CLIENTS PAGE */

.clients-container {
  margin-top: 70px;
}

.clients-title h2 {
  font-family: "cocogose-black";
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  text-align: right;
  margin-right: 12.5%;
}

.clients-list img {
  margin-left: 20px;
  margin-right: 70px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.clients-list img:hover {
  -webkit-filter: none;
          filter: none;
}

.clients-list .first-row {
  margin-top: 100px;
  text-align: center;
}

.clients-list .first-row img {
  width: 180px;
}

.clients-list .second-row {
  margin-top: 60px;
  text-align: center;
}

.clients-list .second-row img {
  width: 182px;
}

.clients-list .third-row {
  margin-top: 60px;
  text-align: center;
}

.clients-list .third-row img {
  width: 182px;
}

.clients-list .fourth-row {
  margin-top: 60px;
  text-align: center;
}

.clients-list .fourth-row img {
  width: 182px;
}

/* Video Page */

.video-container {
  margin-top: 50px;
}

.video-container .row video {
  width: 100%;
}

.description-portfolio {
  background-color: #f66000;
  min-height: 230px;
}

.title-portfolio {
  margin-top: 60px;
}

.title-portfolio h1 {
  font-family: "cocogose-black";
  font-size: 37px;
  color: white;
  text-transform: uppercase;
  margin-left: 35px;
}

.title-portfolio h2 {
  font-family: "brandon-black";
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: -15px;
}

.text-description-portfolio {
  margin-top: 60px;
  width: 80%;
}

.text-description-portfolio p {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
}

.stamp-phrase {
  margin-top: 70px;
}

.stamp-phrase p {
  color: white;
  font-family: "brushsci";
  margin-bottom: -30px;
}

.stamp-phrase .block-simple-text {
  font-size: 27px;
}

.stamp-phrase .block-resalt-text {
  font-size: 42px;
  margin-left: 75px;
}

.stamp-phrase .go-right {
  margin-left: 110px;
}

.stamp-phrase .points-separator {
  margin-left: -10px;
  font-size: 17px;
  font-weight: bold;
}

/*FOOTER PAGES */

.footer-pages {
  background-color: #f66000;
  height: 70px;
}

.copyrigth h5 {
  font-family: "Montserrat" sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 35px;
  font-size: 15px;
}

.social-links-footer {
  width: 90%;
}

.social-links-footer a img {
  width: 30px;
  margin-top: 20px;
  margin-left: 15px;
  float: right;
}

/* Cotization section */

.cotization-panel {
  margin-bottom: 30px;
}

.cotization-form-container {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#464242), color-stop(#393637), color-stop(#2d2b2c), color-stop(#212021), color-stop(#161516), color-stop(#111010), color-stop(#090809), color-stop(#000000), color-stop(#000000), color-stop(#000000), color-stop(#000000), to(#000000));
  background-image: linear-gradient(to right top, #464242, #393637, #2d2b2c, #212021, #161516, #111010, #090809, #000000, #000000, #000000, #000000, #000000);
  width: 100%;
}

.form-img-airplane img {
  margin-top: 95px;
  width: 100%;
}

.form-container {
  margin-left: 110px;
}

.form-container .form-title {
  margin-top: 40px;
}

.form-container .form-title h1 {
  font-family: "cocogose-black";
  color: white;
  font-size: 32px;
}

.form-container .form-title p {
  font-family: "brandon-regular";
  color: white;
  font-size: 16px;
  margin-top: -10px;
}

.form-panel .title-form-data {
  margin-top: 20px;
  margin-bottom: -30px;
}

.form-panel h3 {
  color: white;
  text-transform: uppercase;
  font-family: "brandon-black";
  font-size: 20px;
}

.input-group {
  position: relative;
  margin: 40px auto;
}

.form-control-custom {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: #f66000;
  font-family: "brushsci";
}

.form-control-custom + label {
  position: absolute;
  top: 10px;
  left: 3px;
  font-size: 16px;
  color: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: "brandon-regular";
}

.form-control-custom:focus {
  outline: none;
  border-width: 2px;
  border-color: #f66000;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.form-control-custom:focus + label,
.form-control-custom.has-value + label {
  top: -15px;
  color: #f66000;
  font-size: 12px;
}

.form-control-custom.has-value:not(:focus) + label {
  color: white;
}

.cotization-button-form {
  background-color: #f66000;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
  padding: 5px 24px 26px 24px;
  border-radius: 19px;
  border: #f66000 solid;
}

textarea.form-control-custom {
  height: 60px;
}

/* MAP SECTION */

.localization-map {
  position: relative;
}

.complete-adress {
  width: 100%;
  margin-left: 50px;
  background-color: #f66000;
  color: white;
  position: absolute;
  bottom: 100px;
  margin-bottom: -95px;
}

.complete-adress .phones-container {
  margin-top: 20px;
  font-family: "brandon-black";
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.complete-adress .phones-container .icon-container {
  margin-left: 10%;
}

.complete-adress .phones-container .icon-container i {
  margin-top: 10px;
  font-size: 23px;
}

.complete-adress .phones-container .phone-data-container {
  text-align: center !important;
}

.complete-adress .phones-container .phone-data-container h5 {
  font-size: 15px;
  margin-left: 30px;
  margin-top: 12px;
}

.complete-adress .emails-container {
  margin-top: 20px;
  font-family: "brandon-black";
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.complete-adress .emails-container .icon-container {
  margin-left: 10%;
}

.complete-adress .emails-container .icon-container i {
  margin-top: 10px;
  font-size: 23px;
}

.complete-adress .emails-container .email-data-container {
  text-align: center;
}

.complete-adress .emails-container .email-data-container h5 {
  font-size: 15px;
  margin-left: 10px;
}

.complete-adress .emails-container .email-data-container h5:last-child {
  margin-top: -8px;
}

.complete-adress .address-container {
  margin-top: 20px;
  font-family: "brandon-black";
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.complete-adress .address-container .icon-container {
  margin-left: 10%;
}

.complete-adress .address-container .icon-container i {
  margin-top: 10px;
  font-size: 23px;
}

.complete-adress .address-container .email-data-container {
  text-align: center;
}

.complete-adress .address-container .email-data-container h5 {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 12px;
}

.complete-adress a {
  text-decoration: none;
  color: white;
}

.complete-adress .cotization-plus {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.complete-adress .cotization-plus h5 {
  font-family: "brandon-black";
  margin-bottom: -5px;
}

.complete-adress .cotization-plus span {
  text-transform: uppercase;
  font-family: "brandon-black";
  font-size: 10px;
}

.complete-adress .cotization-plus .data-cotization {
  background-image: url("/img/avion.png");
  background-size: 84% 95%;
  background-repeat: no-repeat;
}

/*CARDS*/

.card-estrategy-direction {
  background-image: url("/img/fondo-6.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-estrategy-direction div .items-container-card {
  margin-top: 24%;
  margin-bottom: 20%;
  margin-left: -50px;
}

.img-container {
  text-align: right;
}

.img-container img {
  width: 45%;
  margin-right: 80px;
}

.text-container-card {
  margin-top: 100px;
}

.text-container-card div h1 {
  color: white;
  font-family: "cocogose-black";
  text-transform: uppercase;
  font-size: 53px;
  margin-top: -8px;
}

.text-container-card .title-resalt {
  background-color: white;
  border-radius: 15px 0 0 15px;
  height: 45px;
}

.text-container-card .title-resalt h1 {
  font-size: 25px;
  padding: 10px 10px 0px 10px;
  color: #f66000;
  margin: 0;
}

.text-container-card .content-card {
  width: 86%;
}

.text-container-card .content-card p {
  color: white;
  font-family: "Montserrat" sans-serif;
  text-align: justify;
  font-weight: bold;
}

/* EXPLANATION PAGE */

.graphic-design {
  background-color: black;
  height: auto;
  min-height: 720px;
}

.graphic-design .items-explanation {
  margin-top: 50px;
}

.graphic-design .items-explanation .img-container-graphic-design {
  text-align: center;
}

.graphic-design .items-explanation .img-container-graphic-design img {
  width: 350px;
}

.graphic-design .items-explanation .text-explanation {
  margin-top: 30px;
  text-align: right;
}

.graphic-design .items-explanation .text-explanation h1 {
  font-family: "cocogose-black";
  font-size: 55px;
  text-transform: uppercase;
}

.graphic-design .items-explanation .text-explanation h4 {
  font-family: "brandon-black";
  text-transform: uppercase;
  font-size: 23px;
  margin-top: -8px;
  margin-bottom: 40px;
}

.graphic-design .items-explanation .text-explanation p {
  font-family: "Montserrat" sans-serif;
  text-align: justify;
  font-weight: bold;
}

.graphic-design .items-explanation .graphic-design-explanation {
  color: white;
}

.graphic-design .items-explanation .graphic-design-explanation h4,
.graphic-design .items-explanation .graphic-design-explanation h1 {
  color: #f66000;
}

.print-description {
  background-color: white;
  height: auto;
  min-height: 720px;
}

.print-description .items-explanation {
  margin-top: 50px;
}

.print-description .items-explanation .img-container-graphic-design {
  text-align: center;
}

.print-description .items-explanation .img-container-graphic-design img {
  width: 350px;
}

.print-description .items-explanation .text-explanation {
  margin-top: 30px;
  text-align: left;
}

.print-description .items-explanation .text-explanation h1 {
  font-family: "cocogose-black";
  font-size: 55px;
  text-transform: uppercase;
}

.print-description .items-explanation .text-explanation h4 {
  font-family: "brandon-black";
  text-transform: uppercase;
  font-size: 23px;
  margin-top: -8px;
  margin-bottom: 40px;
}

.print-description .items-explanation .text-explanation p {
  font-family: "Montserrat" sans-serif;
  text-align: justify;
  font-weight: bold;
}

.print-description .items-explanation .graphic-design-explanation {
  color: black;
}

.print-description .items-explanation .graphic-design-explanation h4,
.print-description .items-explanation .graphic-design-explanation h1 {
  color: #f66000;
}

.confections-instalations {
  background-color: #f66000;
  height: auto;
  min-height: 720px;
}

.confections-instalations .items-explanation {
  margin-top: 50px;
}

.confections-instalations .items-explanation .img-container-graphic-design {
  text-align: center;
}

.confections-instalations .items-explanation .img-container-graphic-design img {
  width: 350px;
}

.confections-instalations .items-explanation .text-explanation {
  margin-top: 10px;
  text-align: right;
}

.confections-instalations .items-explanation .text-explanation h1 {
  font-family: "cocogose-black";
  font-size: 55px;
  text-transform: uppercase;
}

.confections-instalations .items-explanation .text-explanation h4 {
  font-family: "brandon-black";
  text-transform: uppercase;
  font-size: 23px;
  margin-top: -8px;
  margin-bottom: 40px;
}

.confections-instalations .items-explanation .text-explanation p {
  font-family: "Montserrat" sans-serif;
  text-align: justify;
  font-weight: bold;
}

.confections-instalations .items-explanation .graphic-design-explanation {
  color: white;
}

.confections-instalations .items-explanation .graphic-design-explanation h4,
.confections-instalations .items-explanation .graphic-design-explanation h1 {
  color: white;
}

.activations-btl {
  background-color: black;
  height: auto;
  min-height: 720px;
}

.activations-btl .items-explanation {
  margin-top: 0px;
}

.activations-btl .items-explanation .img-container-graphic-design {
  text-align: center;
}

.activations-btl .items-explanation .img-container-graphic-design img {
  width: 350px;
}

.activations-btl .items-explanation .text-explanation {
  margin-top: 10px;
  text-align: right;
}

.activations-btl .items-explanation .text-explanation h1 {
  font-family: "cocogose-black";
  font-size: 50px;
  text-transform: uppercase;
}

.activations-btl .items-explanation .text-explanation h4 {
  font-family: "brandon-black";
  text-transform: uppercase;
  font-size: 21px;
  margin-top: -8px;
  margin-bottom: 40px;
}

.activations-btl .items-explanation .text-explanation p {
  font-family: "Montserrat" sans-serif;
  text-align: justify;
  font-weight: bold;
}

.activations-btl .items-explanation .graphic-design-explanation {
  color: white;
}

.activations-btl .items-explanation .graphic-design-explanation h4,
.activations-btl .items-explanation .graphic-design-explanation h1 {
  color: white;
}

.advertising-advice {
  background-color: white;
  height: auto;
  min-height: 720px;
}

.advertising-advice .items-explanation {
  margin-top: 0px;
}

.advertising-advice .items-explanation .img-container-graphic-design {
  text-align: center;
}

.advertising-advice .items-explanation .img-container-graphic-design img {
  width: 90%;
}

.advertising-advice .items-explanation .text-explanation {
  margin-top: 10px;
  text-align: right;
}

.advertising-advice .items-explanation .text-explanation h1 {
  font-family: "cocogose-black";
  font-size: 50px;
  text-transform: uppercase;
}

.advertising-advice .items-explanation .text-explanation h4 {
  font-family: "brandon-black";
  text-transform: uppercase;
  font-size: 21px;
  margin-top: -8px;
  margin-bottom: 40px;
}

.advertising-advice .items-explanation .text-explanation p {
  font-family: "Montserrat" sans-serif;
  text-align: justify;
  font-weight: bold;
}

.advertising-advice .items-explanation .graphic-design-explanation {
  color: black;
}

.advertising-advice .items-explanation .graphic-design-explanation h4,
.advertising-advice .items-explanation .graphic-design-explanation h1 {
  color: #f66000;
}

/* CEO DISCURSO */

.ceo-discurso {
  background-color: black;
  height: auto;
  min-height: 610px;
}

.ceo-discurso .ceo-discurso-mark {
  margin-top: 150px;
  border: solid 2px #f66000;
}

.ceo-discurso .ceo-discurso-text {
  width: 90%;
  margin-left: 5%;
  margin-top: 8%;
  margin-bottom: 8%;
}

.ceo-discurso .ceo-discurso-text h1 {
  font-family: "cocogose-black";
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}

.ceo-discurso .ceo-discurso-text h2 {
  font-family: "cocogose-black";
  font-size: 25px;
  color: #f66000;
  text-transform: uppercase;
  margin-top: -10px;
}

.ceo-discurso .ceo-discurso-text p {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 13px;
  text-align: justify;
}

/* MISION VISION */

.mision-vision {
  height: auto;
  min-height: 500px;
  background-image: url("/img/fondo-4-b.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
}

.mision-vision .mision-container {
  margin-top: 100px;
  height: 140px;
}

.mision-vision .mision-container div {
  background-image: url("/img/corchete.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 135px;
}

.mision-vision .mision-container h2 {
  padding-top: 15px;
  color: #f66000;
  text-transform: uppercase;
  font-family: "cocogose-black";
  text-align: center;
}

.mision-vision .mision-container p {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: justify;
  font-size: 11px;
  margin-top: -5px;
}

.mision-vision .vision-container {
  height: 140px;
  margin-top: -150px;
}

.mision-vision .vision-container div {
  background-image: url("/img/corchete.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 145px;
  margin-left: 35%;
}

.mision-vision .vision-container h2 {
  padding-top: 15px;
  color: #f66000;
  text-transform: uppercase;
  font-family: "cocogose-black";
  text-align: center;
}

.mision-vision .vision-container p {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: justify;
  font-size: 11px;
  margin-top: -5px;
}

